@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   
    font-family: "Anybody", sans-serif;
    /* color: #dfdfd8; */
    background-color:rgb(241, 233, 223) ;
}

.header{
  background-color: rgb(241, 233, 223);
  height: 4.375rem;
}
.container{
  max-width: min(90%, 1120px);
  margin: 0 auto;
}

.desktop_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menus{
  display: flex;
  justify-content: space-evenly;
  gap: 2.2rem;
}

.menus  li{
  list-style: none;
}

.menus li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
}
.menus li a:hover{
  color: #0116d6e4;
}
.desktop_menu h2{
  font-size: 1.8rem;
}
.humbergar{
  display: none;
}
.mobile_menu{
  display: none;
}

.hero{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(43, 43, 42, 0.5) ), url("https://www.pixelstalk.net/wp-content/uploads/2016/08/Pexels-Background-Wallpaper.jpg") center/cover no-repeat;
  height: calc(100vh - 4.375rem);
}

.hero .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  gap: 2rem;

}
.hero .container h1{
  color: white;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn{
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  background-color: white;
  color: #000b69e4;
  cursor: pointer;
  transition: background-color 0.3 ease;

}
.btn:hover{
  background-color: #000b69e4;
  color: white;
}

.yoga {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("https://images.unsplash.com/photo-1763911307513-02cf2f8b7c5d?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
  margin-top: 3rem;
  border-radius: 2rem;
}

.yoga .content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 50%; */
  flex-direction: column;
  text-align: center;
  color: white;
  h1{
    font-size: 3rem;
    max-width: 70%;
  }
  p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1rem;
    max-width: 70%;
  }
}

img{
  width: 100%
}

.info-boxs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 3rem;
  
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-transform: capitalize;
}
.box .btn2 {
  background-color: #000b69e4;
  color: white;
  padding-inline: 1rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-block: 0.7rem;
  width: 30%;
  cursor: pointer;
}

.box .btn2:hover{
  background-color: rgb(248, 249, 250);
  color: #000b69e4;
}

.box img{
  border-radius: 2rem;
  
}

.box p{
  line-height: 1.5;
}

.pefect_cont{
  height: 438px;
    background: linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
}
.pefect_cont .container{
  line-height: 1.5;
}

.pefect_cont .container h1{
  padding-bottom: 1rem;
   font-size: 2.4rem;
} 

.cont2{
  width: 100%;
  height: 500px;
}

.cont2 img{
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;  
  background-repeat: no-repeat;
}
.cont2 .background{
  background-image: url("https://plus.unsplash.com/premium_photo-1721334042257-7bec5f31e4bf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 95%;
  text-align: center;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-inline: 2.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cont2 h2{
  text-align: center;
  color: #170000;
  margin: 2rem;
  font-size: 2rem;
}
.bl{
  margin-top: 7rem;
}

.bl h1{
  text-align: center;
}

.blogs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin-top: 3rem;
}
.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: chocolate; */
    flex-direction: column;
    gap: 0.7rem;

}
.blog p ,h2{
  padding-inline: 1rem;
  line-height: 1.4;
}
.blog img{
  border-radius: 1rem;
}

.blog button{
  background-color: #0718b6;
  color: white;
  padding: 0.5rem 1rem ;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

footer{
  margin-top: 4rem;
  background-image:linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url("https://images.unsplash.com/photo-1740900893800-495c792b7ccc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
  width: 100%;
  height: 40vh;
}

.container input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(73, 73, 237);
  
}
.inp{
  padding-top: 10rem;
  position: relative;
}

.inp p{
  color: rgb(42, 40, 40);
  text-align: center;
  margin-top: 2rem ;
}

.btn3 button{
 position: absolute;
 top: 190px;
 right:10px;
 padding: 0.5rem;
 background-color: #0718b6;
 border: none;
 color: white;
 font-size: 1rem;
 border-radius: 0.4rem;
}

@media (max-width:760px){
  .desktop_menu{
    display: none;
  }

  .header{
    height: 0;
  }

  i{
    z-index: 11111;
  }
  .humbergar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(64, 64, 228);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: white;
    top: 5%;
    right: 5%;
  }

  .mobile_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b2b2b;
    color: white;
    position: fixed;
    inset: 0 0 0 0 ;
    padding-top: 2rem;
    transform: translateX(0%);
   transition: transform 350ms ease-in-out;
  }
  
  .mobile_menu[data-visible ="false"]{
    transform: translateX(100%);
  }
  
  .humbergar i[data-visible ="true"]{
    display: none;
  }

  .humbergar i[data-visible="false"]{
    display: block;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h3{
      font-size: 2rem;
      border-bottom: 2px solid rgb(136, 136, 136);
      padding-bottom: 1.3rem;

    }
  }

  .min-mobile{
    padding-top: 1rem;
    display: flex;
    flex-direction:column ;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;

  }
  
  .navigation .min-mobile li {
    list-style: none;
  }

  .min-mobile li a{
    text-decoration: none;
    color: rgb(224, 236, 236);
    font-size: 1.3rem;
  }

  .navigation .buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 78%;
  }
  .navigation button{
     padding: 10px 20px;
     background-color: #5f6ad4;
     border: none;
     color: white;
     border-radius: 4px;
     font-size: 1rem;

  }
  .hero{
    height: 100VH;
  }
  .hero .container h1{
    font-size: 2.3rem;
  }
 
  .yoga .content h1{
    font-size: 2rem;
  }
  .yoga .content p{
    font-size: 1rem;
  }

  .info-boxs {
    display: flex;
    flex-direction: column;
  }
  .box .btn2{
    font-size: 1rem;
    width: 30%;
  }
}